bin
build
.project
.classpath
.settings
.gradle

*/.classpath
*/.gradle
*/.gwt
*/.project
*/.settings
*/bin
*/build
*/gwt-unitCache


*/war/WEB-INF/classes
*/war/WEB-INF/lib
*/war/WEB-INF/deploy

SampleGWTProject/war/SampleGWTProject
